<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Car Picker Advisor</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h2> Car Picker </h2>
        <form action="#" th:action="@{'/calculate'}" th:method="POST" th:object="${input}">

            <div class="form-group row">
                <label for="enginePower" class="col-sm-2 col-form-label">Engine Power: </label>
                <div class="input-group col-sm-10">
                    <input type="number" id="enginePower" name="enginePower" th:value="*{enginePower}"/>
                    <div class="input-group-prepend">
                        <div class="input-group-text">hp</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="fuelUsage" class="col-sm-2 col-form-label">Fuel usage: </label>
                <div class="input-group col-sm-10">
                    <input type="number" id="fuelUsage" name="fuelUsage" th:value="*{fuelUsage}"/>
                    <div class="input-group-prepend">
                        <div class="input-group-text">l/100km</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="maxSpeed" class="col-sm-2 col-form-label">Maximum speed: </label>
                <div class="input-group col-sm-10">
                    <input type="number" id="maxSpeed" name="fuelUsage" th:value="*{maxSpeed}"/>
                    <div class="input-group-prepend">
                        <div class="input-group-text">km/h</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="engineReliability">Engine Reliability [Don't care - Normal - Reliable]</label>
                <input type="range" class="custom-range" value="5" min="0" max="10" step="1" id="engineReliability" name="engineReliability" th:value="*{engineReliability}">
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Car's front space: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio1" value="1" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio2" value="2" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio3" value="3" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio4" value="4" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio5" value="5" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio5">5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio6" value="6" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio6">6</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio7" value="7" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio7">7</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio8" value="8" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio8">8</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio9" value="9" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio9">9</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carFrontSpaceRadio10" value="10" th:field="*{carFrontSpace}">
                    <label class="form-check-label" for="carFrontSpaceRadio10">10</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Car's back space: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio1" value="1" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio2" value="2" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio3" value="3" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio4" value="4" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio5" value="5" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio5">5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio6" value="6" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio6">6</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio7" value="7" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio7">7</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio8" value="8" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio8">8</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio9" value="9" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio9">9</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="carBackSpaceRadio10" value="10" th:field="*{carBackSpace}">
                    <label class="form-check-label" for="carBackSpaceRadio10">10</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="trunkSpace" class="col-sm-2 col-form-label">Trunk space: </label>
                <div class="input-group col-sm-10">
                    <input type="number" id="trunkSpace" name="trunkSpace" th:value="*{trunkSpace}"/>
                    <div class="input-group-prepend">
                        <div class="input-group-text">liters</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="comfort">Comfort [Don't care - Normal - Luxury]</label>
                <input type="range" class="custom-range" value="5" min="0" max="10" step="1" id="comfort" name="comfort"
                       th:value="*{comfort}">
            </div>

            <div class="form-group">
                <label for="comfort">Finish Quality [Don't care - Normal - Luxury]</label>
                <input class="custom-range" id="finishQuality" max="10" min="0" name="finishQuality" step="1"
                       th:value="*{finishQuality}" type="range" value="5">
            </div>
            <div class="form-group">
                <label for="comfort">Inside Mute Quality [Low - Normal - Super quiet]</label>
                <input class="custom-range" id="muteQuality" max="10" min="0" name="muteQuality" step="1"
                       th:value="*{muteQuality}" type="range" value="5">
            </div>
            <div class="form-group">
                <label for="comfort">Easy of Use [Really easy - Normal - Needs of some knowledge]</label>
                <input class="custom-range" id="easeOfUse" max="10" min="0" name="easeOfUse" step="1"
                       th:value="*{easeOfUse}" type="range" value="5">
            </div>

            <div class="form-group row">
                <label for="comfortAdditionalEquipment" class="col-sm-3 col-form-label">Comfort additional
                    equipment: </label>
                <div class="col-sm-9">
                    <select class="form-control" id="comfortAdditionalEquipment" name="comfortAdditionalEquipment"
                            th:value="*{comfortAdditionalEquipment}">
                        <option value="1">None</option>
                        <option value="3">Small</option>
                        <option value="5" selected>Standard</option>
                        <option value="7">Large</option>
                        <option value="10">Exclusive</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="safetyAdditionalEquipment" class="col-sm-3 col-form-label">Safety additional equipment: </label>
                <div class="col-sm-9">
                    <select class="form-control" id="safetyAdditionalEquipment" name="safetyAdditionalEquipment" th:value="*{safetyAdditionalEquipment}">
                        <option value="1">None</option>
                        <option value="3">Small</option>
                        <option value="5" selected>Standard</option>
                        <option value="7">Large</option>
                        <option value="10">Super safety</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="otherAdditionalEquipment" class="col-sm-3 col-form-label">Other additional equipment: </label>
                <div class="col-sm-9">
                    <select class="form-control" id="otherAdditionalEquipment" name="otherAdditionalEquipment" th:value="*{otherAdditionalEquipment}">
                        <option value="1">None</option>
                        <option value="3">Small</option>
                        <option value="5" selected>Standard</option>
                        <option value="7">Large</option>
                        <option value="10">Exclusive</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="price" class="col-sm-3 col-form-label">Estimated price: </label>
                <div class="input-group col-sm-7">
                    <input type="number" id="price" name="price" th:value="*{price}"/>
                    <div class="input-group-prepend">
                        <div class="input-group-text">PLN</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="priceDef" class="col-sm-3 col-form-label">Expected price after 2 years: </label>
                <div class="input-group col-sm-7">
                    <input type="number" id="priceDef" name="priceDef" th:value="*{priceDef}"/>
                    <div class="input-group-prepend">
                        <div class="input-group-text">PLN</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="additionalCosts" class="col-sm-3 col-form-label">Additional costs: </label>
                <div class="input-group col-sm-7">
                    <input type="number" id="additionalCosts" name="additionalCosts" th:value="*{additionalCosts}"/>
                    <div class="input-group-prepend">
                        <div class="input-group-text">PLN/Year</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Driving experience quality: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio1" value="1" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio2" value="2" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio3" value="3" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio4" value="4" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio5" value="5" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio5">5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio6" value="6" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio6">6</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio7" value="7" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio7">7</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio8" value="8" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio8">8</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio9" value="9" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio9">9</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="drivingExpQualityRadio10" value="10" th:field="*{drivingExpQuality}">
                    <label class="form-check-label" for="drivingExpQualityRadio10">10</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Breaks quality: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio1" value="1" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio2" value="2" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio3" value="3" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio4" value="4" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio5" value="5" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio5">5</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio6" value="6" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio6">6</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio7" value="7" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio7">7</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio8" value="8" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio8">8</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio9" value="9" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio9">9</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="breaksQualityRadio10"
                           value="10" th:field="*{breaksQuality}">
                    <label class="form-check-label" for="breaksQualityRadio10">10</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="drivingModes">Driving Modes: </label>
                <div class="col-sm-9">
                    <select class="form-control" id="drivingModes" name="drivingModes" th:value="*{drivingModes}">
                        <option value="1">Basic</option>
                        <option value="3">Basic Plus</option>
                        <option selected value="5">Standard</option>
                        <option selected value="5">Standard Plus</option>
                        <option value="10">All available</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="transmission">Transmission: </label>
                <div class="col-sm-9">
                    <select class="form-control" id="transmission" name="transmission" th:value="*{transmission}">
                        <option value="1">Manual</option>
                        <option value="5" selected>All</option>
                        <option value="10">Automate</option>
                    </select>
                </div>
            </div>

            <button type="submit" id="submitButton">Find!</button>
        </form>

        <h6 th:if="${result != null}">
            <form action="#" th:action="@{'/rate'}" th:method="POST" th:object="${rate}">


                <div class="form-group row" th:each="car,iter : ${result.cars}" >
                    <label class="col-sm-4 col-form-label"><span th:text="'Name: ' + ${car.getName()} + ' -- accurate: ' + ${car.getRate()}" ></span></label>
                    <label class="col-sm-2 col-form-label">Rate proposition: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'rateA' + ${iter.index}" value="1" th:field="${rate.rates[__${iter.index}__]}">
                        <label class="form-check-label"  >1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'rateB' + ${iter.index}" value="2" th:field="${rate.rates[__${iter.index}__]}">
                        <label class="form-check-label" >2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'rateC' + ${iter.index}" value="3" th:field="${rate.rates[__${iter.index}__]}">
                        <label class="form-check-label" >3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'rateD' + ${iter.index}" value="4" th:field="${rate.rates[__${iter.index}__]}">
                        <label class="form-check-label" >4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'rateE' + ${iter.index}" value="5" th:field="${rate.rates[__${iter.index}__]}">
                        <label class="form-check-label" >5</label>
                    </div>
                </div>
                <button type="submit" id="submitButton2">Save your rates</button>
            </form>
        </h6>

        <!--<h2>-->
            <!--<span th:text="'Result ' + ${result}"></span>-->
        <!--</h2>-->
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>